*{
    margin:0;
    padding:0;
}
h1{
    color: brown;
}
img{
    width: 200px;
}
.monday{
    color: blueviolet;
}
.food{
    background-color: rgb(10, 75, 75);
}
.dancing{
    background-color: brown;
}
.first{
    border: 5px red solid;
    border-style: dotted;  
    margin:10px 15px;
    padding: 30px;
}
.first{border: 5px red solid;
    border-style: dotted;  
    margin:10px 15px;
    padding: 30px;
}
/* my flexbox properties */
.container{
    background-color: aqua;
}
.childcontainer{
    background-color: blue;
    display: flex;
    justify-content: space-between;
}