*{
    background-color: aqua;
}
h1{
    color: brown;
}
img{
    width: 200px;
}
.monday{
    color: blueviolet;
}
.food{
    background-color: rgb(10, 75, 75);
}
.dancing{
    background-color: brown;
}
